* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    height: 60px;
    display: flex;
    position: sticky;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(168, 168, 168, 0.612);
    z-index: 1;

}

.logo img {
    height: 40px;
    width: auto;
    margin-left: 100px;

}

.hamburger {
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 200px;
    direction: rtl;

}

.nav-links li {
    margin-right: 10px;
}



.nav-links li a {
    text-decoration: none;
    color: #282828;
    background-color: #dbdbdb;
    border: 8px solid #dbdbdb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}

.container {
    height: 400px;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(./images/gray.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: rgba(168, 168, 168, 0.612);
    background-size: cover;
    background-attachment: fixed;



}

.container h1 {
    margin: 20px auto;
    font-size: 4rem;
    font-weight: bolder;
    color: #fff;
    line-height: 4;
}

.container p {
    color: #5b5a5a;
    font-weight: bold;
    direction: rtl;
    font-size: 1.5rem;

}

.gallery {
    display: flex;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery img {
    width: 80px;
    height: 80px;
    object-fit: cover;

}

#mePhoto {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#me {
    height: 250px;
    width: auto;

}

#meText {
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5b5a5a;
    font-weight: bold;
    direction: rtl;
}

#meText h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
}

.pdf-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5b5a5a98;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 4px;
}

#worksText {
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5b5a5a;
    font-weight: bold;
    direction: rtl;
}

#worksText h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #9c9c9c;
    border: none;
}

.container {
    background-color: #fff;
}

#container-contact {
    margin-top: 200px;
    display: flex;
    width: 98vw;
    height: 100vh;
    justify-content: space-between;
    background-color: #5b5a5a;
    border: none;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    margin-right: auto;
    margin-left: auto;
    border: none;
}

#header-contact,
.form-control,
.body-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: right;
    background-color: #5b5a5a;
    border: none;

}

#header-contact>h1 {
    font: normal normal 900 43px/63px tahoma;
    margin-top: 80px;
    color: #ffffff;
    direction: rtl;
}

#header-contact>p {
    font: normal normal normal tahoma;
    font-size: 20px;
    width: 417px;
    color: #ffffff;
    direction: rtl;
}

#img>img {
    height: 500px;
    width: auto;
}

#header-form>p,
label {
    margin-top: 7px;
    font: normal normal normal 20px/29px tahoma;
    color: #fff;
    font-size: 1rem;

}

.form-control>#text {
    height: 60px;
}

button {
    margin-top: 32px;

}

input {
    width: 400px;
    height: 30px;
    background: #ffffff;
    opacity: 1;
    color: #5b5a5a;
    direction: rtl;

}

button {
    width: 166px;
    height: 30px;

    background: #ffffff;
    opacity: 1;
    color: rgb(98, 97, 97);
    margin-left: auto;

}

#social {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 30px;
}

.socialIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;


}

.socialIcon img {
    height: 50px;
    width: auto;
    justify-content: space-evenly;

}

.socialIcon .description {
    margin-top: 10px;
}

.copy {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.copy {
    width: 100vw;
    margin: 0 auto;
}

.copy .copyright {
    color: #888;
    font-size: 14px;
}

@media screen and (max-width:550px) {



    .hamburger {
        display: block;

    }

    /* .hamburger:hover~.menu {
        display: block;

    } */

    .menu {
        display: none;

    }

    .hamburger:hover~.nav-links .menu {
        display: block;
    }

    .gallery {
        display: flex;
        flex-direction: column;

    }

    .container {
        width: 100%;
    }

    #meText {
        margin: 0 auto;
    }

    #worksText {
        margin: 0 auto;
    }

    .card-text {
        font-size: 1rem;
    }

    #img {
        width: 220px;
        height: auto;
    }

    #header-contact,
    .form-control,
    .body-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
    }

    #header-form {
        margin-top: 180%;
    }

    #img {
        display: none;
    }

}